*{
	margin:0;
	padding:0;
}
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*background-image: url("../imagens/background1.jpg");*/
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}
body a{
    text-decoration: none;

}
body h2{
    font-family: Cursive;
    font-size: 35px;
}
body h4{
    color: #143E69;
    font-family: Cursive;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 1.5%;
}
/* Header starts here*/
header{
    background-color: #FDFFFE;
    color: #000;
    border-bottom: 5px solid #598AB1;
}
header a{
    color:#000;
}

#header-top{
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    /*border-bottom:1px solid #ccc;*/
    /*background-color: #e6f7ff;*/
    background-image: linear-gradient(to top, #FDFFFE, #e6f7ff);
    overflow: auto;
}
#header-phone-email{
    float: left;
}
#header-phone, #header-email{
    font-size: 12px;
    margin: 0 5px 0 5px;
    color: #000;
    /*color: #4D89B8;*/
    
}
#header-email-text, #header-phone-text{
    color: #000;
   /*color: #133C76;*/
   padding: 0 5px 0 5px;
}
#header-redes{
    float: right;
    font-size: 14px;
    margin-right: 10px;

}
#header-redes a{
    margin-right: 5px;
    color: #000;
}
#header-phone-email #header-email:hover{
    color: #133C76;
}
#header-redes a:hover{
    font-size: 16px;
}
#div-header-login{
float: right;
margin: 0 5px 2px 5px;
}
#div-header-login a{
    color: #000;
    /*color: #133C76;*/
}
.span-font{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#div-header-login a:hover{
    text-decoration: underline;
}
nav{
	width: 1190px;
	margin: 0 auto;
    padding-top: 10px;
    overflow: auto;
}
#div-logo{float: left;
    width: 250px;
    float: left;
    margin-left: 6px;
    overflow: auto;
}
#div-logo img{
    width: 100%;
    height: 100%;
}
/* 
NAV PHONE 
---------------*/
nav #menu-phone{
    width: 100%;
    display:none;
        box-sizing: border-box;
        box-sizing: content-box;
        
        float: left;
        background-color: #4D89B8;
        font-size: 1.6em;
        color: #fff;
        height: 30px;
        overflow: auto;
    overflow: auto;
}
nav #menu-phone ul{
    width: 99%;
    list-style: none;
    position:absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
}
nav #menu-phone ul li{
    float: left;
    margin-left: 5px;
}
nav #menu-phone ul li{
    text-align: left;
}
nav #menu-phone ul li:hover ul{
    display: block;
}
nav #menu-phone ul li ul{
    width: 70%;
    display: none;
    margin: 0 auto;
    background-color: #4D89B8; 
}

nav #menu-phone ul li ul a li{
    float: none;
    color: #fff;
    background-color: 
    text-align: left;
    border-bottom:2px solid #B4DCE9;
    padding: 10px 5px 10px 5px;
    border-radius: 0px 0px 0px 0px;

}
nav #menu-phone ul li ul a li:hover{
    font-size: 15px;
    background-color: #B4DCE9;
    color: #000;
}
/*
END NAV PHONE
*/
nav #menu{
    float: right;
    margin-top: 62px;
}
nav #menu ul li{
    display: inline;
    padding: 10px 10px 12px 10px;
    margin: 0 5px 0 5px;
}
nav #ativa li{
    background-color: #598AB1;
    border-radius: 10px 10px 0px 0px;
    
}
nav #ativa{
   color: #FDFFFE; 
}
nav #menu ul li:hover{
    background-color: #598AB1;
    border-radius: 10px 10px 0px 0px;
}
nav #menu ul a:hover{
    color:#FDFFFE;  
}
nav #menu ul{
    width: 100%;
    text-align:right;

}
/* --------------- ---------*/
#div-logo-right-side{
    width: 200px;
    float: right;
    margin: 15px 10px 0 0;
    overflow: auto;
}
#div-login{
    float:right;
    font-size: 12px;
    margin-bottom: 15px; 

}
#div-login p a{
    color: #598AB1;
    text-decoration: none; 
    margin-right: 10px;
}
/* ---------------- -----------*/
#header_social{
    margin-top: 15px;
}
#header_social ul{
    list-style-type: none;
    float:right;    
}

#header_social ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#header_social ul li a{
    font-size: 25px;
    color: #143E69;
    text-decoration: none;
}

#nav-left{
	width:74%;
	list-style-type: none;
    font-size: 14px;
    /*font-weight: 700;*/
}

#div-ul{
    width: 100%;
    float: left; 
    background-color: #143E69;
    padding-top: 10px;
    padding-bottom: 10px;
}
#div-ul ul{
    list-style-type: none;
    /*display: block;*/
    float:left;    
}
#div-ul ul li{
    display: inline;
	padding : 0 2% 0 2%;
}
#div-ul ul li:first-child{
    padding-left: 21%;
}
#div-ul ul li a{
	text-decoration: none;
    padding: 0.2% 0 0.2% 0;
    color: #ffffff;
    
}

#div-ul ul li a:hover{
    color: #B4DCE9;
    border-bottom: 0.5mm ridge #B4DCE9;     
}
#div-ul ul li a:active{
    background-color: green;     
}

/* ------------------ Body - wrapper ----------*/
#wrapper{
    width: 1205px;/* 70%*/
    margin: 0 auto;
    background-color: #fff;
    font-size:14px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
#wrapper h2{
    font-size: 30px;
    text-align: center;
    padding: 10px;

}

/* -------     FEED     ----*/
#wrapper #feed{
    width: 57%;
    float: left;
    overflow: auto;
    margin: 1% 0 1% 3%;
}
#feed h3{
    padding: 2% 5% 2% 5%;
    background-color: #B4DCE9;
}

#feed-news-div{
    width: 100%;
    border-bottom:1px solid #598AB1;
    padding: 3% 0 3% 0;
    float: left;
    overflow: auto;
}
#feed-news-div #feed-img{
    width: 40%;
    height: 150px;
    float: left;
}
#feed-news-div #feed-text{
    width: 57%;
    float: right;
    padding: 2.5% 0 2.5% 2.5%;

}

#feed-text #feed-titulo{
    font-size: 13px;
}
#feed-text #feed-paragrafo{
    font-size: 18px;
    padding: 5px 0 5px 0;
}

#feed-text #feed-data, #feed-text #feed-hora{
    font-size: 10px;
    color: #333;

}
#wrapper #price-div{
    width: 100%;

}
#price-div h3{
    padding: 2% 5% 2% 0;
    background-color: transparent;
}

/* ---------- Quem somos -------------*/
#wrapper .p-quem-somos{
    padding: 5px 30px 30px 30px;
}

/*---------------- Quem somos -----------------*/

#aside-quem-somos{
    width: 50%;
    overflow: auto;
    float: left;
    margin:0 0 0 3%;
}
#aside-quem-somos ul, #mvv ul{
    list-style-position: inside;
}

#nossos-clientes, #nossos-parceiros, #nossos-objectivos{
    width: 90%;
    float: left; 
    margin: 0 0 3% 0;
    text-align: justify;
    padding: 2% 2% 0 5%;
    overflow: auto;
    
}
#mvv{
    width: 44%;
    overflow: auto;
    float: right;
    margin:0 20px 0 0;
    overflow: auto;
    padding-top: 5px;
}
#missao, #visao, #valores{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}

/* ------- Slideshow ----------------*/

.slideshow-container{
    width: 100%;
top: 0;
bottom: 0;
background-color: #B4DCE9;
position: relative;
margin:0 auto;
overflow: auto;
float: left;

}

.myslides{
width: 100%;
height: 100%;
display: none;
overflow: auto; 

}
.myslides img{
  width: 100%;
  height: 100%;     
}
/*
.numbers{
position: absolute;
top: 0;
color: #f2f2f2;
padding: 8px 12px;
font-size: 12px;
}
*/
.prev , .next{
position: absolute;
top: 50%;
font-size: 18px;
font-weight: bold;
padding: 16px;
margin-top: -22px;
border-radius: 0 3px 3px 0;
color: #fff;
cursor: pointer;
}

.next{
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{

background-color: rgba(0,0,0,0.8);

}

.caption{
text-align: center;
position: absolute;
bottom: 8px;
width: 100%;
color: #f2f2f2;
font-size: 15px;
padding: 8px 22px;

}
#dots-div{
    width: 100%;
    background-color: #B4DCE9;
    padding: 0.25%;
    float: left;
}

.dots{
width: 13px;
height: 13px;
background: #fff;
display: inline-block;
border-radius: 50%;
cursor: pointer;

}

.fade{
animation-name:fade;
animation-duration:1.5s;
}

@keyframes fade{
from {opacity: 0.4;}
to {opacity: 1;}
}

.active, .dot:hover {background-color: #333;}

.number{
    position: absolute;
    padding: 8px 12px;
    color:#f2f2f2;
}
.text{
    text-align: center;
    font-size: 15px;
    position: absolute;
    width: 100%;
    padding: 8px 16px;
    bottom: 8px;
    color: #f2f2f2;
    font-weight: bold;
}
#prev, #next{
    top:50%;
    position: absolute;
    color: #f2f2f2;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
#prev:hover, #next:hover{
    font-size: 20px;

}
#next{
    border-radius: 0 3px 3px 0;
    right: 0;
}

#div-pontos{
    text-align: center;
}
.pontos{
    width: 5px;
    height: 5px;
    display: inline-block;
    background: gray;
    padding: 5px;
    border-radius: 50%;
}

.fade{
    animation-name: fade;
    animation-duration: 0.5s;
}
€keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}


}

/*----- Light */
#light{
    width: 100%;
}


/* --------------------------- Pacote DIV -------------- */
#pacote-div{
    width: 100%;
    padding: 2% 5% 2% 0%;
    background-color: #e6f7ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}
#plus-info{
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 3%;
}
#pacote-div h3, #pacote-div p, #pacote-div #div-button{
    margin-left: 5%;
}
#home-h3{
    font-family: Cursive;
    font-size: 20px;
    padding: 0% 5% 0 0;
    background-color: transparent;
}
#pacote-div p{
    font-size: 13px;
    text-align: left;
}
#pacote-div #local-encomenda-select{
    width: 100%;
    overflow: auto;
}
#pacote-div .button-encomendar{
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 5px 20px 5px 0;
    border:1px solid #333;
    background-color: #143E69;
    color: #fff;
}
/* -------     BLOG     ----*/
#boxes{
    width: 100%;
    margin-left: 1%;
    overflow: auto;
}
#blog, #price, #parceria{
    width: 31%;
    margin: 1% 2.33% 0 0;
    float: left;
}
#blog img, #price img, #parceria img{
    width: 100%;
    height: 170px;
    border: 1px solid #ccc;
}
#blog h3, #price h3, #parceria h3{
    font-size: 13px;
    padding: 10px 0 10px 0;
    text-align: center;
}
#blog p, #price p, #parceria p{
    font-size: 13px;
    text-align: justify;
    padding: 5px;
}
#blog a p, #price a p, #parceria a p{
    margin: 5px 0 5px 0;
    text-align: center;
}
/* ---------------- Lojas & serviços -----------------*/
#content-ls{
    background-color: #143E69;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#conteudo{
    width: 100%;
    float: left;
    overflow: auto;


}
#conteudo #lojas{
    background-color:  #143E69;/*#4C45E1;*/
    background-image: linear-gradient(to bottom right,  #143E69 20%, #B4DCE9,  #143E69);
    overflow: auto;
    padding-bottom: 20px;

}
#conteudo #lojas h4{
    margin: 10px 10px 0 10px;
    color: #fff;

}
#lojas .loja{
    width: 22%;
    float: left;
    margin: 1% 1% 1% 1.8%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: auto;
}
.loja h5{
    margin: 5px 5px 0 10px;
    font-size: 13px;
}
.loja p{
    margin: 0 5px 10px 10px;
    font-size: 11px;
    color: #333;
}
#aside-lojas-serviços{
    width: 30%;
    float: right;
    margin: 10px;

}
#aside-lojas-serviços #prioridades{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}
#aside-lojas-serviços #prioridades ul{
    list-style-position: inside;;
}
#clientes-alvos{
    width: 100%;
    margin-left: 2%;
    overflow: auto;
}
#clientes-alvos .loja{
    width: 15%;
    float: left;
    margin: 2%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}
.loja h5{
    margin: 5px 5px 0 10px;
    font-size: 13px;
}
.loja p{
    margin: 0 5px 10px 10px;
    font-size: 11px;
    color: #333;
}
/*---------------- Contact Page -----------------*/

#formNaside{
    width: 90%;
    margin:0 auto;
    padding: 10px;
    overflow: auto;
}
.p-contactos{
    text-align: center;
    padding: 5px;
    font-style: italic;
}
#endereco{
    width: 35%;
    float: left;
    padding: 20px;
    font-size: 14px;

}
#endereco h3{
    font-size: 16px;
    padding: 0 0 5px 0;
}
#endereco p{
    width: 100%;
    font-size: 13px;
    padding:5px 0 5px 0;
}
#form{

    width: 50%;
    overflow: auto;
    float: left;
    padding: 2%;
}
#form p{
    font-size: 13px;
    padding-top:10px;
    padding-left: 20px;
    text-align: justify;
    padding-right: 20px;
}

#contact_form {
    width:95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto; 
}

#contact_form .label{
    padding:1% 1% 0 1%;
    float:left;
}

#contact_form .input[type="text"],.input[type="email"]{
    width:100%;
}
#contact_form .textarea{
    padding-bottom: 20px;
    width:97.5%;
}
#contact_form .input, 
#contact_form .textarea {
    border: 1px solid #CEE1E8;
    padding:1%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#contact_form .input,  
#contact_form .textarea, 
#contact_form .label {
    font-size:14px;
    margin-bottom:5px;
}
#contact_form .submit{
    width:100%;
    margin:3px 0 0 0;
    border:1px solid #ccc;
    padding:6px 3px 6px 3px;
    border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    margin-bottom:20px;
}
#contact_form input[type="submit"]:hover{
    color:#FFF;
    background-color: #143E69;
    border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid green;
}
.asterix{
    color:#ff0000;
}
input:focus:invalid {
    border: solid red;
}
input:focus:valid {
    border:solid green;
}
p{
    overflow: auto;
}
#ftick, #ltick, #pntick, #etick, #ptick{
    float: right;
    margin-right: 8px;
    color: green;
}
#fcross, #lcross, #pncross, #ecross, #pcross{
    float: right;
    margin-right: 8px;
    color: red;
}

#contactUs{
    width:29%;
    float:inherit;
    border: 1px solid #333;
}

/* ------ Map ------*/
#mapa{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: auto;
}

#mapa iframe{
    width: 100%;
    height: 100%;
}

/* ---- Perfil -----------------*/
#perfil-aside{
    width: 30%;
    float: left;
    margin: 0 1% 0 0;
    overflow: auto;
}
#perfil-aside #perfil-imagem{
    width: 70%;
    height: 170px;
    border: 1px solid #e6f2ff;
    border-radius: 50%;
    margin: 5% auto;
    overflow: auto;
}
#perfil-img img{
    width: 100%;
    height: 100%;
}
#perfil-aside p{
    width: 70%;
    background-color: #4D89B8;
    margin: 5px auto;
    padding: 2% 0 2% 5%;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
}
#perfil-aside p:hover{
    background-color: #143E69;
}
#perfil-content{
    width: 65%;
    float: left;
    margin: 0 0 0 1%;
}

#perfil-content h3{
    font-family: cursive;
    font-size: 30px;
    margin: 5px 0 5px 0;
    padding: 5px;
    color: #143E69;
    background-color: transparent;
  
}
.p-italico{
    font-style: italic;
}
#perfil-content p{
    margin: 10px 0 0 0;
    font-size: 13px;

}
#perfil-content .input{
    width: 50%;
    float: right;
    margin: 0 0 0 0;
    padding: 2px 0 2px 5px;
    background-color: #f8f8f8;
}
#perfil-content .submit{
    width:24%;
    margin:1%;
    border:1px solid #ccc;
    padding:6px 3px 6px 3px;
    border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    margin-bottom:20px;
    float: right;
}
#perfil-content .submit:hover{
    color:#FFF;
    background-color: #143E69;
    border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid green;
}
#perfil-content textarea{
    border:1px solid #e6f2ff;
    height: 100px;
    padding: 1px 1px;
}


/* ------ Footer ------*/

footer{
    width: 100%;
    background-color: #121e30;
    color: #fff;
    bottom: 0;
    /*position: fixed;*/

}
footer a{
    text-decoration: none;
    color: #fff;
}
footer #footer-wrapper{
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    overflow: auto;
}
#footer-sobre-nos, #footer-local, #footer-outros, #footer-social{
    width: 21%;
    float: left;
    padding: 1% 2% 1% 2%;
    /*border: 1px solid green;*/

}
#footer-sobre-nos h6, #footer-local h6, #footer-outros h6, #footer-social h6{
    text-transform: uppercase;
    font-family: cursive;
    font-size: 14px;
}
#footer-sobre-nos ul, #footer-local p, #footer-outros ul, #footer-social ul{
    list-style-type: none;
    padding-left: 10px;
}
#footer-social img{
    width: 48%;
    margin: 1%;
    float: left;
}
footer #copyright{
    text-align: center;
    font-size: 12px;
    background-color: black;
    padding: 0.5% 0 0.5% 0;
    
}

/*
Phone size

*/
@media (max-width: 480px){
    
    /* Top header bar */
    #header-phone-email{width: 100%;float: left;overflow: auto;}
    #header-phone-email a span{font-size: 10px;}
    #header-email{display: inline-block;float: right;}
    #header-redes{display: inline-block;float: left;margin-left: 1.5%;}
    #div-header-login{display: inline-block;float: right;}
    #div-header-login a, .span-font{font-size: 10px;}
    /* NAV */
    nav{
        width: 100%;
    }

    /* logo */
    #div-logo{display: inline-block;
        width:180px;
        box-sizing: border-box;box-sizing: content-box; margin-left: 1.5%;padding-left: 0px;top:0;left: 0;float: left;overflow: auto;}
    /*show phone menu*/
    #main-div-logo{
        width: 181px;
        margin-left: 30%;
        overflow: auto;
    }
    nav #menu-phone{display: block;
        width: 40px;
        margin-top: -28px;
        margin-left: 10px;
        padding-left: 10px;
        float: left;
        background-color: #598AB1;
        border-radius: 10px 10px 0px 0px;
    }
    nav #menu-phone ul li span{
        font-size: 20px;
        color:#fff;
    }
    /*hide main menu*/
    nav #menu{display: none;}
    
    #wrapper{
        width: 100%;
    }
    .slideshow-container{
        height: 200px;
        overflow: auto;
    }
    #boxes{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #boxes #blog{
        width: 100%;
    }
    #boxes #price{
        width: 100%;
    }
    #boxes #parceria{
        width: 100%;
    }
    #footer-wrapper{
        width: 100%;
    }
    #footer-sobre-nos, #footer-local, #footer-outros, #footer-social{
        box-sizing: border-box;
        box-sizing: content-box;
        margin: 0;
        padding: 10px 0 10px 0;
        width: 50%;
        float: left;
    }

/*Pagina contactos */
    #endereco, #form{
        width: 100%;
        
    }
/* Pagina blog*/
    #wrapper #feed{
        width: 98%;
        margin: 0 auto;
        padding-left: 1%;
    }
    #wrapper .loja{
        width: 46%;
        height: 150px;
        float: left;
    }
    #wrapper .loja img{
        width: 100%;
        height: 100%;

    }
    /*
    Pagina Quem somos
    */
    #wrapper .p-quem-somos{
        box-sizing: border-box;
        text-align: justify;
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    #wrapper #aside-quem-somos{
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }
    #wrapper #mvv{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;


    }
    #wrapper #missao, #wrapper #visao, #wrapper #valores{
        box-sizing: border-box;
        width: 98%;
        margin-left: 6%;
        padding: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /*
    Paginal perfil
    */
    #perfil-aside, #perfil-content{
        box-sizing: border-box;
        width: 90%;
        margin:5%;
    }
    #wrapper #perfil-imagem{
        width: 50%;
        height: 100%;
    }
    #wrapper #perfil-imagem img{
        width: 100%;
    }
    #wrapper #perfil-aside a p{
        width: 90%;
    }



}

/*

 */
 @media only screen and (min-device-width: 481px) and (max-device-width: 594px){
    /* Top header bar */
    #header-phone-email{width: 100%;float: left;overflow: auto;}
    #header-phone-email a span{font-size: 10px;}
    #header-email{display: inline-block;float: right;}
    #header-redes{display: inline-block;float: left;margin-left: 1.5%;}
    #div-header-login{display: inline-block;float: right;}
    #div-header-login a, .span-font{font-size: 10px;}

    nav{
        width: 100%;
    }

    #div-logo{display: inline-block;
        width: 200px;
        box-sizing: border-box;box-sizing: content-box; 
        margin-left: 1.5%;
        padding-left: 0px;
        float: left;
        overflow: auto;}

        #main-div-logo{
        width: 201px;
        margin-left: 30%;
        overflow: auto;
    }
    nav #menu-phone{display: block;
        width: 40px;
        margin-top: -28px;
        margin-left: 10px;
        padding-left: 10px;
        float: left;
        background-color: #598AB1;
        border-radius: 10px 10px 0px 0px;
    }
    nav #menu-phone ul li span{
        font-size: 20px;
        color:#fff;
    }
    /*hide main menu*/
    nav #menu{display: none;}

    #wrapper{width: 100%;}
 }
 /* Ipad*/
@media only screen and (min-device-width: 595px) and (max-device-width: 852px){
     /* Top header bar */
    #header-phone-email{width: 100%;float: left;overflow: auto;}
    #header-phone-email a span{font-size: 10px;}
    #header-email{display: inline-block;float: right;}
    #header-redes{display: inline-block;float: left;margin-left: 1.5%;}
    #div-header-login{display: inline-block;float: right;}
    #div-header-login a, .span-font{font-size: 10px;}
    nav{
        width: 100%;
    }
    #main-div-logo{
        width: 226px;
        margin-left: 32%;
        overflow: auto;
    }
    #div-logo{display: inline-block;
        width: 225px;
        box-sizing: border-box;box-sizing: content-box; 
        margin-left: 1.5%;
        padding-left: 0px;
        float: left;
        overflow: auto;
    }
    nav #menu-phone{display: block;
        width: 40px;
        margin-top: -28px;
        margin-left: 10px;
        padding-left: 10px;
        float: left;
        background-color: #598AB1;
        border-radius: 10px 10px 0px 0px;
    }
    nav #menu-phone ul li span{
        font-size: 20px;
        color:#fff;
    }
    nav #menu{display: none;}
    #wrapper{width: 100%;}

}
/*
Ipad pro

*/
@media (min-width: 853px) and (max-width: 1208px) {
      /* For portrait */
    #div-logo{display: inline-block;
        width: 250px;
        box-sizing: border-box;box-sizing: content-box; 
        margin-left: 1.5%;
        padding-left: 0px;
        float: left;
        overflow: auto;}

    nav{
        width: 100%;
    }
    /*show phone menu*/
    nav #menu-phone{display: none;
        width: 40px;
        margin-top: 61px;
        margin-right: 10px;
        padding-left: 10px;
        float: right;
        background-color: #598AB1;
        border-radius: 10px 10px 0px 0px;
        overflow: auto;
    }
    /*hide main menu*/
    nav #menu{display: block;}
    #wrapper{width: 100%;}

}



