*{
	margin:0;
	padding:0;
}
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url("../imagens/background11.png");
    background-size:cover;
    background-repeat: no-repeat;
    /*background-color: #f2f2f2;*/
}
body a{
    text-decoration: none;

}
body h2{
    font-family: Cursive;
    font-size: 35px;
}
body h4{
    color: #143E69;
    font-family: Cursive;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 1.5%;
}
/* Header starts here*/
header{
    background-color: #FDFFFE;
    color: #000;
    border-bottom: 5px solid #133C76;
    margin-bottom: 5px;
}
header a{
    color:#000;
}

#header-top{
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    border-bottom:1px solid #ccc;
    overflow: auto;
}
#header-phone-email{
    float: left;
}
#header-phone, #header-email{
    font-size: 12px;
    margin: 0 5px 0 5px;
    color: #4D89B8;
    
}
#header-email-text, #header-phone-text{
   color: #133C76;
   padding: 0 5px 0 5px;
}
#header-redes{
    float: right;
    font-size: 14px;
    margin-right: 10px;
}
#header-redes a{
    margin-right: 5px;
}
#header-phone-email #header-email:hover{
    color: #133C76;
}
#header-redes a:hover{
    font-size: 16px;
}
#div-header-login{
float: right;
margin: 0 5px 2px 5px;
}
#div-header-login a{
    color: #133C76;
}
.span-font{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#div-header-login a:hover{
    text-decoration: underline;
}
nav{
	width: 70%;
	margin: 0 auto;
    padding-top: 10px;
    overflow: auto;
}
#div-logo{float: left;
    width: 250px;
    float: left;
    margin-left: 6px;
    overflow: auto;
}
img{
    width: 100%;
    height: 100%;
}
nav #menu{
    float: right;
    margin-top: 62px;
}
nav #menu ul li{
    display: inline;
    padding: 10px 10px 12px 10px;
    margin: 0 5px 0 5px;
}
nav #ativa li{
    background-color: #133C76;
    border-radius: 10px 10px 0px 0px;
    
}
nav #ativa{
   color: #FDFFFE; 
}
nav #menu ul li:hover{
    background-color: #133C76;
    border-radius: 10px 10px 0px 0px;
}
nav #menu ul a:hover{
    color:#FDFFFE;  
}
nav #menu ul{
    width: 100%;
    text-align:right;

}
/* --------------- ---------*/
#div-logo-right-side{
    width: 200px;
    float: right;
    margin: 15px 10px 0 0;
    overflow: auto;
}
#div-login{
    float:right;
    font-size: 12px;
    margin-bottom: 15px; 

}
#div-login p a{
    color: #598AB1;
    text-decoration: none; 
    margin-right: 10px;
}
/* ---------------- -----------*/
#header_social{
    margin-top: 15px;
}
#header_social ul{
    list-style-type: none;
    float:right;    
}

#header_social ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#header_social ul li a{
    font-size: 25px;
    color: #143E69;
    text-decoration: none;
}

#nav-left{
	width:74%;
	list-style-type: none;
    font-size: 14px;
    /*font-weight: 700;*/
}

#div-ul{
    width: 100%;
    float: left; 
    background-color: #143E69;
    padding-top: 10px;
    padding-bottom: 10px;
}
#div-ul ul{
    list-style-type: none;
    /*display: block;*/
    float:left;    
}
#div-ul ul li{
    display: inline;
	padding : 0 2% 0 2%;
}
#div-ul ul li:first-child{
    padding-left: 21%;
}
#div-ul ul li a{
	text-decoration: none;
    padding: 0.2% 0 0.2% 0;
    color: #ffffff;
    
}

#div-ul ul li a:hover{
    color: #B4DCE9;
    border-bottom: 0.5mm ridge #B4DCE9;     
}
#div-ul ul li a:active{
    background-color: green;     
}

/* ------------------ Body - wrapper ----------*/
#wrapper{
    width: 70%;
    margin: 0 auto;
    overflow: auto;
    background-color: #fff;
    font-size:14px;
    padding-bottom: 10px;
}
#wrapper h2{
    font-size: 30px;
    text-align: center;
    padding: 10px;

}
#div-slideshow{
    width: 100%;
    height: 400px;
}
/* -------     FEED     ----*/
#wrapper #feed{
    width: 57%;
    float: left;
    overflow: auto;
    margin: 1% 0 1% 3%;
}
#feed h3{
    padding: 2% 5% 2% 5%;
    background-color: #B4DCE9;
}
#pacote-div{
    border:1px solid red;
    width: 100%;
    padding: 4% 5% 5% 15%;
    overflow: auto;
}
#home-h3{
    font-family: Cursive;
    font-size: 20px;
    padding: 2% 5% 0 0;
    background-color: transparent;
}
#pacote-div p{
    font-size: 13px;
    text-align: left;
}
#pacote-div #local-encomenda-select{
    width: 100%;
    border:1px solid red;
    overflow: auto;
}
#pacote-div .button-encomendar{
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 5px 20px 5px 0;
    border:1px solid #333;
    background-color: #143E69;
    color: #fff;
}
#feed-news-div{
    width: 100%;
    border-bottom:1px solid #598AB1;
    padding: 3% 0 3% 0;
    float: left;
    overflow: auto;
}
#feed-news-div #feed-img{
    width: 40%;
    height: 150px;
    float: left;
}
#feed-news-div #feed-text{
    width: 57%;
    float: right;
    padding: 2.5% 0 2.5% 2.5%;

}

#feed-text #feed-titulo{
    font-size: 13px;
}
#feed-text #feed-paragrafo{
    font-size: 18px;
    padding: 5px 0 5px 0;
}

#feed-text #feed-data, #feed-text #feed-hora{
    font-size: 10px;
    color: #333;

}
#wrapper #price-div{
    width: 100%;

}
#price-div h3{
    padding: 2% 5% 2% 0;
    background-color: transparent;
}
#wrapper #variedades{
    width: 36%;
    float: right;
    border:1px solid #ccc;
    overflow: auto;
    margin: 1% 2% 1% 1%;
}
#variedades h4{
    margin: 5% 5% 5% 5%;
    padding: 5px 5px 5px 5px;
}
/* ---------- Quem somos -------------*/
#wrapper .p-quem-somos{
    padding: 5px 30px 30px 30px;
}

/*---------------- Quem somos -----------------*/

#aside-quem-somos{
    width: 50%;
    overflow: auto;
    float: left;
    margin:0 0 0 3%;
}
#aside-quem-somos ul, #mvv ul{
    list-style-position: inside;
}

#nossos-clientes, #nossos-parceiros, #nossos-objectivos{
    width: 90%;
    float: left; 
    margin: 0 0 3% 0;
    text-align: justify;
    padding: 2% 2% 0 5%;
    overflow: auto;
    
}
#mvv{
    width: 44%;
    overflow: auto;
    float: right;
    margin:0 20px 0 0;
    overflow: auto;
    padding-top: 5px;
}
#missao, #visao, #valores{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}

/* ------- Slideshow ----------------*/
#slideshow_{
    width: 100%;
    height: 350px;
    overflow:hidden;
}
#slideshow_ img{
    z-index: 0;
    width: 100%;
    height: 100%;
}
#content-p{
    background-color: #143E69;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

#slide-left-button, #slide-right-button{
    
    color: #000;
    font-size: 30px;
    z-index: 1;
    margin-top:  -200px;

    
}

#slide-left-button{
    position: absolute;
    display: block;
    float: left;
    margin-left:  5%;
}
#slide-right-button{
    position: absolute;
    display: block;
    float: right;
    margin-left:  95%;
}

#slideshow-container{
    width: 800px;
    position: relative;
    margin: auto;

}
.slides{
    display: none;
    /*width: 350px
    height:200px;
    position: relative;
    overflow: auto;*/
}
/*.slides img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    opacity: 1;
    transition: 1s;
}*/
/*.active{
    opacity: 1;
}*/
.number{
    position: absolute;
    padding: 8px 12px;
    color:#f2f2f2;
}
.text{
    text-align: center;
    font-size: 15px;
    position: absolute;
    width: 100%;
    padding: 8px 16px;
    bottom: 8px;
    color: #f2f2f2;
    font-weight: bold;
}
#prev, #next{
    top:50%;
    position: absolute;
    color: #f2f2f2;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
#prev:hover, #next:hover{
    font-size: 20px;

}
#next{
    border-radius: 0 3px 3px 0;
    right: 0;
}

#div-pontos{
    text-align: center;
}
.pontos{
    width: 5px;
    height: 5px;
    display: inline-block;
    background: gray;
    padding: 5px;
    border-radius: 50%;
}

.fade{
    animation-name: fade;
    animation-duration: 0.5s;
}
€keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}
/* ---------------- Lojas & serviços -----------------*/
#content-ls{
    background-color: #143E69;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#conteudo{
    width: 100%;
    float: left;
    overflow: auto;


}
#conteudo #lojas{
    background-color:  #143E69;/*#4C45E1;*/
    background-image: linear-gradient(to bottom right,  #143E69 20%, #B4DCE9,  #143E69);
    overflow: auto;
    padding-bottom: 20px;

}
#conteudo #lojas h4{
    margin: 10px 10px 0 10px;
    color: #fff;

}
#lojas .loja{
    width: 22%;
    float: left;
    margin: 1% 1% 1% 1.8%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: auto;
}
.loja h5{
    margin: 5px 5px 0 10px;
    font-size: 13px;
}
.loja p{
    margin: 0 5px 10px 10px;
    font-size: 11px;
    color: #333;
}
#aside-lojas-serviços{
    width: 30%;
    float: right;
    margin: 10px;

}
#aside-lojas-serviços #prioridades{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}
#aside-lojas-serviços #prioridades ul{
    list-style-position: inside;;
}
#clientes-alvos{
    width: 100%;
    margin-left: 2%;
    overflow: auto;
}
#clientes-alvos .loja{
    width: 15%;
    float: left;
    margin: 2%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    overflow: auto;
}
.loja h5{
    margin: 5px 5px 0 10px;
    font-size: 13px;
}
.loja p{
    margin: 0 5px 10px 10px;
    font-size: 11px;
    color: #333;
}
/*---------------- Contact Page -----------------*/

#formNaside{
    width: 90%;
    margin:0 auto;
    padding: 10px;
    overflow: auto;
}
.p-contactos{
    text-align: center;
    padding: 5px;
    font-style: italic;
}
#endereco{
    width: 35%;
    float: left;
    padding: 20px;
    font-size: 14px;

}
#endereco h3{
    font-size: 16px;
    padding: 0 0 5px 0;
}
#endereco p{
    width: 100%;
    font-size: 13px;
    padding:5px 0 5px 0;
}
#form{

    width: 50%;
    overflow: auto;
    float: left;
    padding: 2%;
}
#form p{
    font-size: 13px;
    padding-top:10px;
    padding-left: 20px;
    text-align: justify;
    padding-right: 20px;
}

#contact_form {
    width:95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto; 
}

#contact_form .label{
    padding:1% 1% 0 1%;
    float:left;
}

#contact_form .input[type="text"],.input[type="email"]{
    width:100%;
}
#contact_form .textarea{
    padding-bottom: 20px;
    width:97.5%;
}
#contact_form .input, 
#contact_form .textarea {
    border: 1px solid #CEE1E8;
    padding:1%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#contact_form .input,  
#contact_form .textarea, 
#contact_form .label {
    font-size:14px;
    margin-bottom:5px;
}
#contact_form .submit{
    width:100%;
    margin:3px 0 0 0;
    border:1px solid #ccc;
    padding:6px 3px 6px 3px;
    border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    margin-bottom:20px;
}
#contact_form input[type="submit"]:hover{
    color:#FFF;
    background-color: #143E69;
    border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid green;
}
.asterix{
    color:#ff0000;
}
input:focus:invalid {
    border: solid red;
}
input:focus:valid {
    border:solid green;
}
p{
    overflow: auto;
}
#ftick, #ltick, #pntick, #etick, #ptick{
    float: right;
    margin-right: 8px;
    color: green;
}
#fcross, #lcross, #pncross, #ecross, #pcross{
    float: right;
    margin-right: 8px;
    color: red;
}

#contactUs{
    width:29%;
    float:inherit;
    border: 1px solid #333;
}

/* ------ Map ------*/
#mapa{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: auto;
}

#mapa iframe{
    width: 100%;
    height: 100%;
}

/* ---- Perfil -----------------*/
#perfil-aside{
    width: 30%;
    float: left;
    margin: 0 1% 0 0;
    overflow: auto;
}
#perfil-aside #perfil-imagem{
    width: 70%;
    height: 170px;
    border: 1px solid #e6f2ff;
    border-radius: 50%;
    margin: 5% auto;
    overflow: auto;
}
#perfil-img img{
    width: 100%;
    height: 100%;
}
#perfil-aside p{
    width: 70%;
    background-color: #4D89B8;
    margin: 5px auto;
    padding: 2% 0 2% 5%;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
}
#perfil-aside p:hover{
    background-color: #143E69;
}
#perfil-content{
    width: 65%;
    float: left;
    margin: 0 0 0 1%;
}

#perfil-content h3{
    font-family: cursive;
    font-size: 30px;
    margin: 5px 0 5px 0;
    padding: 5px;
    color: #143E69;
    background-color: transparent;
  
}
.p-italico{
    font-style: italic;
}
#perfil-content p{
    margin: 10px 0 0 0;
    font-size: 13px;

}
#perfil-content .input{
    width: 50%;
    float: right;
    margin: 0 0 0 0;
    padding: 2px 0 2px 5px;
    background-color: #f8f8f8;
}
#perfil-content .submit{
    width:24%;
    margin:1%;
    border:1px solid #ccc;
    padding:6px 3px 6px 3px;
    border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    margin-bottom:20px;
    float: right;
}
#perfil-content .submit:hover{
    color:#FFF;
    background-color: #143E69;
    border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid green;
}
#perfil-content textarea{
    border:1px solid #e6f2ff;
    height: 100px;
    padding: 1px 1px;
}


/* ------ Footer ------*/

footer{
    width: 100%;
    background-color: #4d5c75;
    color: #fff;
    bottom: 0;
    /*position: fixed;*/

}
footer a{
    text-decoration: none;
    color: #fff;
}
footer #footer-wrapper{
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    overflow: auto;
}
#footer-sobre-nos, #footer-local, #footer-outros, #footer-social{
    width: 21%;
    float: left;
    padding: 1% 2% 1% 2%;
    /*border: 1px solid green;*/

}
#footer-sobre-nos h6, #footer-local h6, #footer-outros h6, #footer-social h6{
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #B4DCE9;
}
#footer-sobre-nos ul, #footer-local ul, #footer-outros ul, #footer-social ul{
    list-style-type: none;
}
footer #copyright{
    text-align: center;
    font-size: 12px;
    background-color: black;
    padding: 0.5% 0 0.5% 0;
    
}